.main {
  background-color: #020202;
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-right: 10px;
      padding: 10px;
      a {
        color: #fff;
        text-decoration: none;
        padding: 5px 10px;
      }
    }
  }
}

.home-container {
  max-width: 1024px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin-top: 3rem;
  }
}